{% extends "emails/base.html" %}

{% load static %}

{% block title %}
Reset Email Password
{% endblock title %}

{% block email_content %}
    <section class="emails__template">
        <div class="container">

            <div class="emails__card">

                <div class="emails__header">
                    <img src="https://loopscentral.netlify.app/assets/images/forgotten-password.svg"
                        alt="email-sent-svg"
                        class="img-responsive emails__image">
                    <h2 class="emails__title">Forgotten Your Password?</h2>
                </div>

                {% autoescape off %}
                <div class="emails__body">

                    <p class="h4">
                        Hi {{ user.username }},
                    </p>

                    <p class="h6">
                        It appears you lost your login credentials. Not to worry, we have you covered. Simply click the
                        "Recover My Password" button below.
                    </p>

                    <a type="button"
                        href="http://{{ domain }}{% url 'account_service:reset_uidb64_token' uidb64=uid token=token %}"
                        target="_blank"
                        class="btn email-verification-button">
                        Recover My Password
                    </a>
                </div>
                {% endautoescape %}

                <div class="emails__footer">
                    <p class="h6 emails__footer__title">
                        If you didn't initiate this action, <br> 
                        kindly ignore this email and contact our <a href="mailto:support@loopscentral.com">support</a>
                        immediately.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock email_content %}