{% extends "emails/base.html" %}

{% load static %}

{% block title %}
Verify Email
{% endblock title %}

{% block email_content %}
<section class="emails__template">

    <div class="emails__card">

        <div class="emails__header">
            <img src="{% static 'images/email-arrived.png' %}" alt="email-sent-svg"
                class="img-responsive emails__image">
            <h2 class="emails__title">Welcome to {{ site_name }}</h2>
        </div>

        {% autoescape off %}
        <div class="emails__body">

            <p class="h4">
                Hi {{ user.username }},
            </p>

            <p class="h6">
                Thank you for signing up on {{ site_name }}. To continue using your account, kindly verify
                your email address by clicking the "Verify My Email" button below.
            </p>

            <a type="button"
                href="http://{{ domain }}{% url 'authentication_service:verify_uidb64_token' uidb64=uid token=token %}"
                target="_blank" class="btn email-verification-button">
                Verify My Email
            </a>
        </div>
        {% endautoescape %}

        <div class="emails__footer">
            <p class="h6 emails__footer__title">
                If you did not sign up to {{ site_name }}, <br> please ignore this mail or contact us at
                <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>
            </p>
        </div>
    </div>

</section>
{% endblock email_content %}